<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.runnerup.runit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application

        android:allowBackup="true"
        android:icon="@drawable/run_512x512"
        android:label="RUN"
        android:roundIcon="@drawable/run_512x512"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.runnerup.runit.MainActivity"
                  android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.runnerup.runit.Activitycreateacc"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.runnerup.runit.Activitydatapreferenceacc"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.runnerup.runit.Activitydatapreferenceaccupdate"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.runnerup.runit.Activitywallet"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.runnerup.runit.Activityupdateprofile"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.runnerup.runit.Activitydashboard"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>